<html>
	<head>
		<title><%= body.title %></title>
	</head>
	<body>
		<h2><%= body.title %></h2>
		<img src="<%= body.image_url %>" /> <br /><br />
		<p><%= body.completeContent %> </p><br /><br /><br />

		<a href="http://www.<%= body.source %>" target="blank" style="float:right;"><p style="font:5px"><%= body.source %></p></a>
	</body>
</html>

